
.stocksList{
  margin: 0 auto;
width: 100%;
text-align:center;

}
.stockslist input{
text-align:center
}
.round {
    width: 100%;
    border-radius: 15px;
    border: 1px blue solid;
    padding: 5px 5px 5px 25px;
}




/* .search {
    display: inline-flex;
    margin: 0 auto;
width: 100%;
text-align:center
} */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    
    /* perspective: 1000px; */
  }
  
  /* .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  } */
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;

  }
  

  
  .flip-card-front {
    color: black;
  }
  .pages-div{
    display: inline-flex;
    text-align: center;
}
.pages-div p{
    color: lightskyblue;
    margin-right: 5px;
    cursor: pointer;
}
  
  /* .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  } */
 
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }



  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  @media only screen and (min-width: 700px) {
    .grid-container {
        margin-left: 180px;
        grid-template-columns: auto;
  }
  }

  @media only screen and (min-width: 850px) {
    .grid-container {
        margin-left: 180px;
        grid-template-columns: auto auto;
  }
  }

  
  
  
  @media only screen and (min-width: 1200px) {
    .grid-container {
      margin-left: 180px;
        grid-template-columns: auto auto auto ;
  }
  }

