
h3{
    text-align: center;
}
  tr { 
    width: 100%;
    background-color: lightskyblue;
  }
  th { 
      display: block;
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td { 
    width: 469px;
    padding:25px;
    text-align: center;

  }
  .transaction-div{
      width:100%
  }
  
  /* @media only screen and (min-width: 992px) {
    td, th { 
        padding: 105px;
      }
  }
  @media only screen and (min-width: 1200px) {
    td, th { 
        padding: 140px;
      }
  }  */